<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="com.caveofprog.springdemo.Person"
		factory-bean="personFactory" factory-method="createPerson">
		<constructor-arg value="007" name="id" type="int"></constructor-arg>
		<constructor-arg value="Rishi" name="name" type="String"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>


	<bean id="address" class="com.caveofprog.springdemo.Address">
		<constructor-arg name="city" value="Thane"></constructor-arg>
		<constructor-arg name="zipcode" value="400601"></constructor-arg>
	</bean>

	<bean id="beanMethods" class="com.caveofprog.springdemo.BeanMethods"
		init-method="onCreate" destroy-method="onFinish">
	</bean>

	<bean id="personFactory" class="com.caveofprog.springdemo.PersonFactory">
	</bean>

	<bean id="address2" class="com.caveofprog.springdemo.Address"
		p:city="Mumbai" p:zipcode="400001">
	</bean>
</beans>
